node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tgz
.env
.env.test
.env.production
.env.local

# İşletim sistemi ve Editör dosyaları
.DS_Store
.vscode/
.idea/
Thumbs.db

# Keploy'un test koşarken anlık üretebileceği geçici log/rapor klasörleri (Varsa)
*.log
coverage/